@page
@model IndexModel
@{
    ViewData["Title"] = "Show expenses";
}
<style>
   
    #messageContainer {
       border-width: 2px;
       border-radius: 5px;
       border-color: darkblue;
       background-color: black;
       color: azure;
       width: 500px;
       height: 250px;
       overflow-y: auto;
       text-align: left;
       }

</style>

<div class="text-center">
    <h1 class="display-4">Expenses added:</h1>
    <hr />
    <div class="container" id="messageContainer">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifyOfExpense.js"></script>