@page
@model BreakfastBuffetApp.Pages.ReceptionModel
@{
    ViewData["Title"] = "Breakfast expected guests";
}
<div class="row-cols-1">
    <div class="col">
        <h4>How many guests are we expecting for breakfast?</h4> 
        <div>
            <form method="Post">          
                <div class="m-4">
                    <div class="m-2">
                        <label for="damount" title="Date">Date:</label>
                        <input class="" asp-for="Input.Date" />
                    </div>

                    <div class="m-2">
                        <label for="aamount" title="Adults">Adults:</label>
                        <input id="aamount" type="number" asp-for="Input.Adults">
                    </div>
                    
                    <div class="m-2">
                        <label for="camount" title="Children">Children:</label>
                        <input id="camount" type="number" asp-for="Input.Children">
                    </div>               
                </div>

                <button id="reservationSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </form>
        </div>
      
        <div class="col mt-4">
            <form method="Post" asp-page-handler="Redirect">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Go to breakfast history</button>
            </form>
        </div>
        
        @if (Model.ExpectedGuestsMessage != null)
        {
            <div class="alert alert-success mt-4" role="alert">
                <h2>
                    @Model.ExpectedGuestsMessage
                </h2>
            </div>
        }
    </div>

</div>