@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Whalecome to</h1>
    <h2 class="display-4">Breakfast buffet</h2>
    <img src="https://media.istockphoto.com/id/1179449390/photo/3d-render-wooden-style-restaurant-cafe.jpg?s=612x612&w=0&k=20&c=vOtYvM3vpJu-xcrvxrsB45mD1ne7smvVbA4JdB6hy3s=" />
</div>
