@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1>Hotel WhaleComeBack</h1>
    <h2 class="display-4">Breakfast buffet Management app</h2>
    <img src="https://d1rytvr7gmk1sx.cloudfront.net/wp-content/uploads/2021/08/docker-new.jpg" />
</div>
