@page
@model BreakfastBuffetApp.Pages.Waiter.CheckInModel
@{
}

<h1>Checkin Guests</h1>

<hr />
<div class="row-cols-1">

    <div class="col">
        <h3>Checkin guests for breakfast</h3>

        <div>
            <form method="Post">
                <h4>Date:</h4><input class="form-control" asp-for="Input.Date" />
                <br />
                <label for="aamount" title="Roomnumber "></label>
                Roomnumber:
                <br />
                <input id="aamount" type="number" asp-for="Input.Roomnumber">
                <br />
                <label for="aamount" title="Adults "></label>
                Adults:
                <br />
                <input id="aamount" type="number" asp-for="Input.Adults">
                <br />
                <label for="camount" title="Children "></label>
                Children:
                <br />
                <input id="camount" type="number" asp-for="Input.Children">
                <br />
                <br />
                <button id="reservationSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </form>
        </div>
        <div>
            <p></p>
        </div>
    
        @if (Model.CheckInMessage != null)
        {
            <div class="alert alert-success" role="alert">
                <h2>
                    @Model.CheckInMessage
                </h2>
            </div>
        }
    </div>

</div>