@page
@model BreakfastBuffetApp.Pages.Waiter.CheckInModel
@{
}

<h1>Checkin Guests</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckedIn.RoomNumber" class="control-label"></label>
                <input asp-for="CheckedIn.RoomNumber" class="form-control" />
                <span asp-validation-for="CheckedIn.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedIn.Adults" class="control-label"></label>
                <input asp-for="CheckedIn.Adults" class="form-control" />
                <span asp-validation-for="CheckedIn.Adults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedIn.Children" class="control-label"></label>
                <input asp-for="CheckedIn.Children" class="form-control" />
                <span asp-validation-for="CheckedIn.Children" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2 mb-2" />
            </div>
        </form>
        <div>
            <img class="mt-4 mb-4" src="https://listimg.pinclipart.com/picdir/s/459-4590946_clipart-customers-restaurant-png-download.png" />
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
