@page
@model BreakfastBuffetAppV2.Pages.Reception.ExpectedGuestsModel
@{
}

<div class="border border-primary rounded d-flex justify-content-center">
 
    <div class="m-4 flex-column">
         <form method="Post">
            <h5>Date:</h5>
            <input asp-for="Input.Date" />

            <h5>Adults:</h5>
            <input type="number" asp-for="Input.Adults" />

            <h5>Children:</h5>
            <input type="number" asp-for="Input.Children" />
            
            <button id="reservationSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Save</button>

        </form>
       
        <div class="mt-4">
            <form method="Post" asp-page-handler="Redirect">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Go to breakfast history</button>
            </form>
        </div>
        <div class="text-center my-4">
            <img width="400" src="https://skodsborg.dk/wp-content/uploads/2021/07/Skodsborg-09.07.21-2-1800x1200.jpg" />
        </div>
    </div>
</div>


